* {
    margin: 0;
    background-color: white;
    color: black;
    text-transform: uppercase;
  }
  .container {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

.list  {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
}
.list li {
  padding-left: 20px;
  list-style: none;
}
